@using SimchosAndContributors.Data
@using homework_032519_SimchosAndContributors.Models
@model SimchosViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Simchos</h1>

<button class="btn btn-info" id="add">Add Simcha</button>
<div class="row" style="margin-top:30px;">
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Contributions</th>
            <th>Simcha Name</th>
            <th>Contributor Count</th>
            <th>Total</th>
            <th>Date</th>
        </tr>
        @foreach (SimchaView s in Model.Simchos)
        {
            if (s != null)
            {
                <tr>
                    <td><a href="home/contributions?id=@s.Id&name=@s.Name" class="btn btn-primary">Contributions</a></td>
                    <td>@s.Name</td>
                    <td>@s.TotalContributed/@Model.TotalContributors</td>
                    <td>@s.Total.ToString("C")</td>
                    <td>@s.Date.ToLongDateString()</td>
                </tr>
            }
        }
    </table>
</div>

<div id="add-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Simcha</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/home/addSimcha">
                <div class="modal-body">
                    <label>Simcha Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" /><br />
                    <input type="date" class="form-control" name="date" id="date" style="margin-top:10px;" /><br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="add-simcha">Add</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" id="cancel">Cancel</button>
                </div>
            </form>

        </div>
    </div>
</div>


@section scripts{
    <script src="/Scripts/simchos.js"></script>
}
